<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neural-style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    
</head>

<body>
    <h1> Draw A Digit </h1>
    <canvas id ='canvas' width='280' height = '280'></canvas>
    <button id = 'clear'>Clear</button>
    <button id = 'predict'>Predict</button>
    <h2 id = 'result'>Prediction: </h2>
    <script src = "{{ url_for('static', filename='js/neural-script.js')}}"></script>
</body>
</html>
    
